[submodule "RmlUi"]
	path = RmlUi
	url = https://github.com/mikke89/RmlUi
[submodule "raylib"]
	path = raylib
	url = https://github.com/raysan5/raylib
[submodule "freetype"]
	path = freetype
	url = https://gitlab.com/freetype/freetype.git
